@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "~bootstrap/scss/bootstrap";
@import "public/scss/main.scss";


.faqs{
    background: #ECEDF3;
    padding: 90px 10px;
    padding-top: 0;
}
.faqs .faq_wrapper{
    max-width: 572px;
    width: 100%;
    margin: 0 auto;
}
.faqs .faq_wrapper .title{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #22218C;
}
.faqs .faq_wrapper .faqs_list{
    margin-top: 32px;
}
.faqs .faq_wrapper .faqs_list .head{
    display: flex;
    font-size: 18px;
    align-items: center;
    font-weight: 400;
    color: #22218C;
    justify-content: space-between;
    gap: 1rem;
    padding: 16px 0;
    cursor: pointer;
    
}

.faqs .faq_wrapper .faqs_list .head button{
    border: 1.2px solid #B0B0B0;
    border-radius: 100%;
    min-width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #B0B0B0;
}
.faqs .faq_wrapper .faqs_list .head button span{
    margin-top: -2px;
}
.faqs .faq_wrapper .faqs_list .head button.menus span{
    margin-top: -16px;
}
.faqs .faq_wrapper .faq.last_faq{
    border-bottom: 0 !important;
}
.faq{
    border-bottom: 1px solid #22218C;
}
.faqs .faq_wrapper .faqs_list .body{
    margin-bottom: 12px;
}

.types{
    background: #ECEDF3;
    padding-top: 92px;
}
.types .types-wrapper{
    padding: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 35px;
}
.types .types-wrapper h6{
    font-size: 28px;
    font-weight: 700;
    color: #22218C;
}
.types .types-wrapper p{
    font-weight: 400;
    font-size: 12px;
    color: #22218C;
}
.types .types-wrapper .type{
    border-bottom: 1px solid #22218C;
    padding-bottom: 1rem;
}
.loadmore-btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.loadmore-btn button{
    background: #22218C;
    padding: 8px 34px;
    border-radius: 8px; 
    transition: .2s ease-in-out;
}
.loadmore-btn button a{
    color: #fff ;
}
.loadmore-btn button:hover{
    background: #fff;
    
}
.loadmore-btn button:hover a{
    color: #22218C;
}


.common-cancer-main{
    max-width: 1100px;
    margin:  0 auto;
    margin-top: 4rem;
    text-align: center;
    padding: 0 1.2rem;
    margin-bottom: 4rem;
}
.common-cancer-main h4{
    font-size: 47px;
    font-weight: 700 !important;
    color: #22218C;
    margin-bottom: 1.2rem;
}
._progress .progress-wrapper{
    display: flex;
    gap: 3rem;
}
._progress .progress-wrapper .first{
    width: 42%;
}
._progress .progress-wrapper .first img.main{
    width: 100%;
    height: 740px;
    object-fit: cover;
    border-radius: 16px;
}
._progress .progress-wrapper .first .images-child{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .4rem;
    margin-top: 1rem;
}
._progress .progress-wrapper .first .images-child img{
    height: 234px;
    border-radius: 12px;
    object-fit: cover;
}
._progress .progress-wrapper .secound{
    flex: 1;
}
._progress .progress-wrapper .progress-step{
    display: flex;
    align-items: start;
    align-items: flex-start;
    gap: 2rem;
}
._progress .progress-wrapper .progress-step button{
    min-width: 66px;
    font-size: 35px;
    font-weight: 400;
    height: 66px;
    color: #22218C;
    border-radius: 100%;
    border: 1px solid #22218C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 10;
}
._progress .progress-wrapper .progress-step h5{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: .3rem;
    color: #22218C;
}

._progress .progress-wrapper .progress-step p{
    margin-bottom: 100px;
    color: #22218C;
}

._progress .progress-wrapper .progress-step .line{
    position: absolute;
    background: #22218C;
    left: 2rem;
    height: 66%;
    width: 2px;
    top: 76px;
}

.listing-2{
    margin: 4rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}
.listing-2 .list{
    background: #D9D9D9;
    border-radius: 16px;
    padding: 18px;
}
.listing-2 .list .content{
    padding-left: 90px;
    margin-top: 60px;
    color: #22218C;
}
.listing-2 .list .content h5{
    font-weight: 700;
    color: #22218C;
    margin-bottom: 8px;
    font-size: 32px;
}
.listing-2 .list .content p{
    color: #22218C;
}
.listing-2 button{
    min-width: 65px;
    font-size: 35px;
    font-weight: 400;
    height: 65px;
    color: #22218C;
    border-radius: 100%;
    border: 1px solid #22218C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 10;
}
.listing-3{
    margin: 4rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 45px;
}

.listing-3 .list .content{
    margin-top: 1rem;
}
.listing-3 .border, .border{
    width: 100%;
    padding-top: 2px;
    background: #22218C;
}
.listing-3 .list .content h5{
    font-weight: 700;
    color: #22218C;
    margin-bottom: 8px;
    font-size: 32px;
}
.listing-3 .list .content p{
    color: #22218C;
    margin-top: 12px;
}
.listing-3 button{
    min-width: 65px;
    font-size: 35px;
    font-weight: 400;
    height: 65px;
    color: #22218C;
    border-radius: 100%;
    border: 1px solid #22218C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 10;
}
.nobg{
    background: transparent !important;
    margin-top: 6rem;
}


@media (max-width: 768px) {
    .types .types-wrapper{
        grid-template-columns: 1fr;
        padding: 0 1.2rem;
    }
    .types .types-wrapper h6{
        font-size: 22px;
    }
    ._progress .progress-wrapper{
        display: flex;
        gap: 3rem;
        flex-direction: column;
    }
    ._progress .progress-wrapper .first{
        width: 100%;
    }
    ._progress .progress-wrapper .secound{
        flex: 1;
    }
    ._progress .progress-wrapper .progress-step .line{
        height: calc(100% - 25%);
    }
    .listing-2{
        grid-template-columns: 1fr;
        gap: 1.6rem;
        
    }
    .listing-2 .list .content{
        padding-left: 0;
        margin-top: 40px;
    }
    .listing-3{
        grid-template-columns: 1fr !important;
    }
}
@media (max-width: 1180px){
    .listing-2 .list .content{
        padding-left: 0;
        margin-top: 40px;
    }
    .listing-2{
        gap: 25px;
    }
    .listing-3{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 460px){
    ._progress .progress-wrapper .progress-step .line{
        height: calc(100% - 20%);
    }
    ._progress .progress-wrapper .first img.main{
        height: 480px;
    }
    ._progress .progress-wrapper .first .images-child img{
        height: 160px;
    }
}